* {
	box-sizing: border-box;
		
}
nav {
	padding-top: 20px;
	overflow: auto;
	height: 120px;
	border: 2px solid grey;
}
nav .logo {
	font-style: bold;
	padding-left: 80px;
	float: left;
	font-size: 40px;
	
}
nav ul {
	margin: 0;
	margin-left: 400px;
	font-size: 24px;
	font-family: 'ubuntu';
	text-transform: uppercase;
}

nav li {
	float: left;
	list-style: none;
	margin-right: 25px;
	padding-top: 10px;
}
header {
	background-image: url('https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=9240162744247295619');
	height: 500px;
	margin: 0;
}
header h1 {
	margin: 0;

}
.headerText {
	color: white;
	margin: 0 auto;
	height: 300px;
	text-align: center;
	padding-top: 40px;
	
	
}
h1 {
	font-size: 60px;
}
button {
	color: white;
	border: 2px solid white;
	background-color: transparent;
	height: 40px;
	width: 130px;
	margin: 0 auto;	
}
.container {
	overflow: auto;
	background-color: transparent;
	margin: 0 auto;
	width: 800px;
}
.box1 {
	float: left;
	background-color: #A9A9A9;
	margin-right: 30px;
}
.box2 {
	float: left;
	background-color: #000080;
	margin-right: 30px;
}
.box3 {
	float: left;
	background-color: #ADD8E6;
	margin-right: 30px;
}
